$width = 100%;
$col = 12;
$step = $width / $col;

/*
 * @param {number} $step - высота/ширина одного элемента
 * @param {number} $col - количество итераций
 */
grid($step, $col, $class)
  for i in (1..$col)
    .col-{$class}-{i} {
      width: $step * i
    }

grid($step, $col, 'md');

@media $mobile
	grid($step, $col, 'sm');

