
	$svg-share = '\ea01'


$_svgIcons = share



@font-face {
	font-family: "svg-icons";
	src: url('../fonts/svg-icons.eot');
	src: url('../fonts/svg-icons.eot?#iefix') format('eot'),
		url('../fonts/svg-icons.woff') format('woff'),
		url('../fonts/svg-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
