
	$svg-share = '\ea01'


$_svgIcons = share

icon($icon)
	&::before
		content: $icon
		display: inline-block
		vertical-align: top
		font-family: 'svg-icons'
		font-style: normal
		font-weight: normal
		line-height: 1
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale


allIcons($iconsArray)
	for $iconName in $iconsArray
		&_{$iconName}
			icon($svg-+$iconName)

@font-face {
	font-family: "svg-icons";
	src: url('../fonts/svg-icons.eot');
	src: url('../fonts/svg-icons.eot?#iefix') format('eot'),
		url('../fonts/svg-icons.woff') format('woff'),
		url('../fonts/svg-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
