// Шрифты
$_f__base = Arial, Helvetica, FreeSans, sans-serif
$_f__lato-regular = 'latoregular', $_f__base
$_f__lato-light = 'latolight', $_f__base
$_f__nautilus = 'nautilus', $_f__base

// Применяется по умолчанию к body
$_f__common = $_f__lato-regular
