/** @typography Заголовок первого уровня */
$_t__style-h1 = {
  font-family: $_f__common
  font-weight: 300
  font-size: 38px
  line-height: 44px
}

/** @typography Заголовок второго уровня */
$_t__style-h2 = {
  font-family: $_f__common
  font-weight: 300
  font-size: 32px
  line-height: 38px
}

/** @typography Заголовок третьего уровня */
$_t__style-h3 = {
  font-family: $_f__common
  font-weight: normal
  font-size: 26px
  line-height: 30px
}

/** @typography Основной текст */
$_t__style-text = {
  font-family: $_f__common
  font-weight: normal
  font-size: 16px
  line-height: 22px
}

/** @typography Крупный текст */
$_t__style-largetext = {
  font-family: $_f__common
  font-weight: normal
  font-size: 20px
  line-height: 28px
}

/** @typography Бледный текст */
$_t__style-paletext = {
  font-family: $_f__common
  font-weight: normal
  font-size: 16px
  line-height: 20px
}

/** @typography Примечание */
$_t__style-note = {
  font-family: $_f__common
  font-weight: normal
  font-size: 12px
  line-height: 14px
}
