{% for icon in icons %}
	$svg-{{icon.name}} = '\{{icon.icon}}'
{% endfor %}

$_svgIcons = {{allIcons}}

icon($icon)
	&::before
		content: $icon
		display: inline-block
		vertical-align: top
		font-family: '{{iconFont}}'
		font-style: normal
		font-weight: normal
		line-height: 1
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale


allIcons($iconsArray)
	for $iconName in $iconsArray
		&_{$iconName}
			icon($svg-+$iconName)

@font-face {
	font-family: "{{iconFont}}";
	src: url('../fonts/{{iconFont}}.eot');
	src: url('../fonts/{{iconFont}}.eot?#iefix') format('eot'),
		url('../fonts/{{iconFont}}.woff') format('woff'),
		url('../fonts/{{iconFont}}.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
