doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //meta(name="viewport" content="width=1260, initial-scale=0.3")
        link(rel='stylesheet', href='css/main.css')
        script(src='js/main.js')
        block title
    body
        include  ./util/mixins.jade

        block header
            include ./common/header.jade

        block content

        block footer
            include ./common/footer.jade
