doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='css/main.css')
		block head
			title заголовок страницы
						
		block vars
			- var Data = [_data][0]
	body
		include  ./util/mixins.jade

		block header
			include ./components/header.jade

		block content

		block footer
			include ./components/footer.jade

		script(src='js/main.js')
