/**
 * @param {number} $step - высота/ширина одного элемента
 * @param {number} $col - количество итераций
 * @param {string} $prefix - префикс. (s)mall / (m)edium / (l)arge
 */

grid($step, $col, $prefix)
	for i in (1..$col)
		.col-{$prefix}-{i}
			width: $step * i


