$mobile = "screen and (max-width= 768px)";
$mobile-portrait = "screen and (max-width= 480px)";
$mobile-landscape = "screen and (min-width= 481px) and (max-width= 768px)";
$tablet = "screen and (min-width= 769px) and (max-width= 1024px)";
$desktop = "screen and (min-width= 1025px) and (max-width= 1499px)";
$hr-desktop = "screen and (min-width= 1500px)";
$retina = (-webkit-min-device-pixel-ratio= 2), (min-resolution= 192dpi);

$canvas-width = 1000px
