/* Default var
*******************************/

$white = rgba(255, 255, 255, 1);
$black = rgba(0, 0, 0, 1);
$red = #ed1c24;
$green = #28af28;
$blue = #1995ff;
$gray = #353535;
$grayText = #7b7b7b;

/* Base var
*******************************/

$baseClass = ".werb";

$bg-color = rgb(0, 0, 0);
$font-color = rgb(255, 255, 255);
$font-size = 13px;
$line-height = 1em;
$link-color = rgba(42, 100, 150, 1);
$em = $font-size;

$zmin = 1;
$zfixed = 10;


$mobile = "screen and (max-width= 768px)";
$mobile-portrait = "screen and (max-width= 480px)";
$mobile-landscape = "screen and (min-width= 481px) and (max-width= 768px)";
$tablet = "screen and (min-width= 769px) and (max-width= 1024px)";
$desktop = "screen and (min-width= 1025px) and (max-width= 1499px)";
$hr-desktop = "screen and (min-width= 1500px)";
$retina = (-webkit-min-device-pixel-ratio= 2), (min-resolution= 192dpi);