    $s-fork = 0px 0px 0px 0px 32px 32px 64px 64px 'sprite.png';
    $s-github = 32px 0px -32px 0px 32px 32px 64px 64px 'sprite.png';
    $s-twitter = 0px 32px 0px -32px 32px 32px 64px 64px 'sprite.png';
