// Константы
@import "__constants/*"

// Миксины
@import "__mixins/*"

@import "__base/*"

// Компоненты
@import "components/*"

// Плагины / Либы / Vendor
@import "vendor/*.css"

// Страницы
@import "pages/*"
