$_i__book = '\ea01'
$_i__brush = '\ea02'
$_i__eraser = '\ea03'
$_i__eye = '\ea04'
$_i__eyedropper = '\ea05'
$_i__paintbucket = '\ea06'
$_i__pencil = '\ea07'
$_i__photo = '\ea08'
$_i__text = '\ea09'


// Все иконки
$_allIcons = book,brush,eraser,eye,eyedropper,paintbucket,pencil,photo,text

$_i__font-name = svg-icons
