$_i__Book = '\ea01'
$_i__Brush = '\ea02'
$_i__Eraser = '\ea03'
$_i__Eye = '\ea04'
$_i__Eyedropper = '\ea05'
$_i__Paintbucket = '\ea06'
$_i__Pencil = '\ea07'
$_i__Photo = '\ea08'
$_i__Text = '\ea09'


// Все иконки
$_allIcons = Book,Brush,Eraser,Eye,Eyedropper,Paintbucket,Pencil,Photo,Text

$_i__font-name = svg-icons
