// Используемые шрифты
$font-normal    =    Arial, Helvetica, FreeSans, 'Liberation Sans', 'Nimbus Sans L', sans-serif
$font-alternate =    Roboto, iviextras, 'Trebuchet MS'
$font-common    =    Arial, Helvetica, FreeSans, sans-serif
