extends templates/base

block content
	h1 Svg иконки, конвертирвоанные в шрифт
	
	- var Icons = ['book','brush','eraser','eye','eyedropper','paintbucket','pencil','photo','text']
	- for (var i = 0; i < Icons.length; i++)
		.icon(class='icon_'+Icons[i])
