extends templates/base

block content
	.section
		.section__container
			h1 Интерактивные элементы
			.row
				- var Icons = ['book','brush','eraser','eye','eyedropper','paintbucket','pencil','photo','text']
				- for (var i = 0; i < Icons.length; i++)
					.icon(class='icon_'+Icons[i])
